node_modules
npm-debug.log
.git
.gitignore
.env
.env.*
!.env.example
!.env.vault
.DS_Store
*.log
logs
.nyc_output
coverage
.vscode
.idea
*.md
!README.md
data/db
public/uploads/*
!public/uploads/.gitkeep
.replit
replit.nix
