modules = ["nodejs-20", "bash", "python-3.12"]
run = "start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Start Application"
author = 12008147
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[workflows.workflow.metadata]
outputType = "console"

[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38355
externalPort = 3000

[[ports]]
localPort = 46185
externalPort = 3001
